/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Poppins');

// basic res

*{
    font-family:Poppins;
    letter-spacing: 1px;
}
body{
    padding: 0;
    margin: 0;
}

.container{
    margin: 20px;
    display: flex;
}